body {
    background-color: rgb(217, 229, 248);
    border:rgb(87, 87, 219) 2.5px solid;
    padding: 30px
}

h1 {
    text-align:center;
    color:rgb(87, 87, 219);
    font-weight:bold;
    font-family:'Times New Roman', Times, serif;
    text-shadow: 1px 1px darkblue;
    font-size: 36px;    
}

img {
    height: 200px;
    width: auto;
    border: 10px cornflowerblue;
    border-style: groove;
    }

.note {
    color:rgb(87, 87, 219);
    text-align: center;
    
}

h2,
h3 {
    color:rgb(37, 37, 87);
    text-align: left;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    }

h2 {
    font-size: 20px;
}

h3 {
    font-size: 16px;
}

li {
    color:rgb(37, 37, 87);
    font-size: 18px;
    }
.link {
    border: 1px midnightblue;
    background-color:orange;
    font-weight: bold;
    font-size: 12px;
    color: rgb(87, 87, 219);
    text-align: left;
    }

    